
  <div class="main_nav">
    <div class="container">
      <div class="mobile-toggle"> <span></span> <span></span> <span></span> </div>
      <nav>
        <ul>
          <li><a class="smoothscroll" href="#header">Cari Mahasiswa</a></li>
          <li><a class="smoothscroll" href="#about">Forum</a></li>
          <li><a class="smoothscroll" href="javascript:void(0);" onclick="logout()">Logout</a></li>

        </ul>
      </nav>
    </div>
  </div>
  <div class="title">
    <div><span class="typcn typcn-heart-outline icon heading" id="logo"></span></div>
    <div class="smallsep heading"></div>
    <h1 class="heading" id="judul"></h1>
    <h2 class="heading">Ini Tagline Kita</h2>
    <a class="smoothscroll" href="#about">
    <div class="mouse">
      <div class="wheel"></div>
    </div>
    </a> </div>
  <a class="smoothscroll" href="#about">
  <div class="scroll-down"></div>
  </a>
